@import url(//db.onlinewebfonts.com/c/c67f26aa1153b1d30673005d464adfd7?family=FracturaND);

#navbar {
    background-color: #fff;
}

#navbar .nav_item {
    color: rgb(29, 29, 29);
    text-decoration: none;
}