.formAdd {
    margin-top: 5%;
    padding: 10px 15px;
    min-height: 75vh;
    background-color: aliceblue;
    top: '50%';
    left: '50%';
    right: 'auto';
    bottom: 'auto';
    margin-right: '-50%';
    transform: 'translate(-50%; -50%)';
}